name: Build and Release

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
          cache: true

      - name: Get dependencies
        run: go mod download

      - name: Build for Linux
        run: GOOS=linux GOARCH=amd64 go build -v -o bin/TokenAuth-linux main.go

      - name: Build for Windows
        run: GOOS=windows GOARCH=amd64 go build -v -o bin/TokenAuth-windows.exe main.go

      - name: Build for macOS
        run: GOOS=darwin GOARCH=amd64 go build -v -o bin/TokenAuth-mac main.go

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: TokenAuth-binaries
          path: bin/
          retention-days: 5 